	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/12/2018 05:16
  	*/
  	
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
      }
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-family: Flaticon;
      font-style: normal;
    }

    .flaticon-money:before { content: "\f100"; }
    .flaticon-plant:before { content: "\f101"; }
    .flaticon-money-1:before { content: "\f102"; }
    .flaticon-workplace:before { content: "\f103"; }
    .flaticon-workplace-1:before { content: "\f104"; }
    .flaticon-workplace-2:before { content: "\f105"; }
    .flaticon-project-management:before { content: "\f106"; }
    .flaticon-creativity:before { content: "\f107"; }
    .flaticon-creativity-1:before { content: "\f108"; }
    .flaticon-start-up:before { content: "\f109"; }
    .flaticon-class:before { content: "\f10a"; }
    .flaticon-hand-holding-up-a-book:before { content: "\f10b"; }
    .flaticon-teacher-teaching-with-a-stick:before { content: "\f10c"; }
    .flaticon-male-cartoon-pointing-to-white-board:before { content: "\f10d"; }
    .flaticon-talking:before { content: "\f10e"; }
    .flaticon-male-silhouette-talking:before { content: "\f10f"; }
    .flaticon-money-2:before { content: "\f110"; }
    .flaticon-money-3:before { content: "\f111"; }
    .flaticon-money-4:before { content: "\f112"; }
    .flaticon-discuss:before { content: "\f113"; }
    .flaticon-meeting:before { content: "\f114"; }
    .flaticon-growth:before { content: "\f115"; }