@font-face {
    font-family: "Yekan";
    src: url( "../fonts/W_YEKAN_0.TTF" );
    src: local( "?" ), url( "../fonts/W_YEKAN_0.TTF" )format( "truetype" );
}
*{
font-family:Yekan;

}

body{
/* direction:rtl; */
font-family: 'Yekan','Roboto-Regular';
}

body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Yekan','Roboto-Regular';
}

.services {
    width: 100%;
    display: block;
    margin-bottom: 40px;
}

.services .icon {
    width: 100px;
    height: 100px;
    background: #30336B;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services .icon span {
    font-size: 44px;
    color: #01A3A4;
}

.services .text {
    width: 100%;
}

.services .text h3 {
    font-size: 20px;
    font-weight: 500;
}

.package-program {
    margin-bottom: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.package-program:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 0;
    content: '';
    opacity: 1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.package-program .img {
    display: block;
    height: 400px;
}

.package-program .text {
    z-index: 1;
    opacity: 1;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: rgba(255, 255, 255, 0.8);
}

.package-program .text h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #30336B;
}

.package-program:hover:after,
.package-program:focus:after {
    opacity: .4;
    background: #30336B;
}

.package-program:hover .text h3,
.package-program:focus .text h3 {
    color: #fff !important;
}

.hero-wrap,
.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 767.98px) {
    .img-about {
        height: 400px;
        margin-bottom: 30px;
    }
}

.hero-wrap .slider-text .typewrite>.wrap {
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

